<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Demo Convert File</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
  <link rel="stylesheet" href="/css/style.css">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.1/jquery.twbsPagination.min.js'></script>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/client.js"></script>
  <script src="/js/converting.js"></script>
  <script src="/js/uploadService.js"></script>
  <script src="/js/viewer.js"></script>

</head>

<body>
  <div class="container-fluid block1">
    <div class="row">
      <div class="col-sm-12">
        Please choose file upload: <input type="file" name="" id="doc">
        <br> <br> <br>
        <p id = "total_page" style="display: none"></p>
        <ul id="pagination-demo" class="pagination-sm"></ul>
      </div>
    </div>


    <div class="row" style="height: 380px; padding: 20px">
      <div class="col-sm-4 view">
        <p>PNG</p>
        <img src="" style="width: 100%; height: 380px; " id="png">
      </div>
      <div class="col-sm-4 view">
        <p>PDF</p>
        <iframe src="" frameborder="0" style="width: 100%; height: 380px;" id="pdf"></iframe>
      </div>
      <div class="col-sm-4 view" >
        <p>SVG</p>
        <img src="" style="width: 100%; height: 380px; " id="svg">
      </div>
      <div class="col-sm-4 view" >
          <p>JPG</p>
          <img src="" style="width: 100%; height: 380px; " id="jpg">
        </div>
    </div>
  </div>
</body>

</html>