{
  "presets": [
		[
			"env", {
				"targets": {
					"browsers": [
						"last 2 versions",
						"IE >= 9"
					]
				}
			}
		]
  ],
  "plugins": [
    "babel-plugin-transform-runtime"
  ],
  "ignore": [
    "./adapter*.js",
    "libs/socket.io.js",
	"libs/is.js"
  ]
}